* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;

    @media (max-width: 1200px) {
        max-width: 1140px;
    }

    @media (max-width: 1140px) {    
        max-width: 960px;
    }

    @media (max-width: 992px) {
        max-width: 960px;
    }

    @media (max-width: 768px) {
        max-width: 720px;
    }

    @media (max-width: 576px) {
        max-width: 540px;
    }
    @media (max-width: 390px) {
        padding: 5px;
    }
}