/* vars */
/* mixins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1140px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 390px) {
  .container {
    padding: 5px;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header-wrap {
  padding-top: 19px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  margin-right: 41px;
}

.search-btn {
  background-color: transparent;
  border: none;
}

.header-burger {
  background-color: transparent;
  border: none;
  margin-right: 33px;
}
.header-burger-img {
  fill: #FFFFFF;
}

.link-user {
  margin-right: 33px;
}
@media (max-width: 576px) {
  .link-user {
    display: none;
  }
}

@media (max-width: 576px) {
  .link-cart {
    display: none;
  }
}

.nav-menu {
  position: absolute;
  right: 0;
  width: 232px;
  height: 764px;
  padding: 36px 33px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-menu-wrap {
  position: relative;
}
.nav-menu-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: transparent;
  border: none;
}
.nav-menu-btn:hover {
  transform: rotate(180deg);
  transition: 0.5s;
}
.nav-menu-title-main {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}
.nav-menu-title-pink {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.nav-menu-list {
  list-style-type: none;
  margin-bottom: 20px;
}
.nav-menu-item {
  margin-bottom: 11px;
  padding-left: 21px;
}
.nav-menu-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.nav-menu-item-link:hover {
  color: #222222;
}

.nav-menu-open {
  display: block;
}
@media (max-width: 992px) {
  .nav-menu-open {
    display: none;
  }
}

.nav-menu-close {
  display: none;
}

.intro {
  background-color: #F7E4E2;
}

.intro-wrap {
  height: 764px;
  background-image: url(../img/intro-bgi.png);
  background-repeat: no-repeat;
  background-position: -228px bottom;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 65px;
}
@media (max-width: 992px) {
  .intro-wrap {
    height: 386px;
    background-image: url(../img/bgi-intro-tablet.png);
    background-position: 0 bottom;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .intro-wrap {
    background-image: none;
    height: 363px;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
  }
}

.intro-title {
  width: 401px;
  padding-left: 16px;
  margin-right: 101px;
  border-left: 12px solid #F16D7F;
  color: #222222;
}
@media (max-width: 992px) {
  .intro-title {
    width: 401px;
    margin-right: 33px;
  }
}
@media (max-width: 768px) {
  .intro-title {
    width: 308px;
    margin-right: 33px;
  }
}
@media (max-width: 700px) {
  .intro-title {
    width: 308px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .intro-title {
    width: 263px;
    margin: 0 auto;
  }
}

.intro-title-big {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 768px) {
  .intro-title-big {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 576px) {
  .intro-title-big {
    font-size: 38px;
    line-height: 46px;
  }
}

.intro-title-small {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
@media (max-width: 768px) {
  .intro-title-small {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 576px) {
  .intro-title-small {
    font-size: 20px;
    line-height: 24px;
  }
}

.intro-title-pink {
  color: #F16D7F;
}
@media (max-width: 768px) {
  .intro-title-pink {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 576px) {
  .intro-title-pink {
    font-size: 20px;
    line-height: 24px;
  }
}

.categories-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
}
@media (max-width: 768px) {
  .categories-wrap {
    gap: 15px;
    margin-bottom: 154px;
  }
}
@media (max-width: 576px) {
  .categories-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
  }
}

.categories-item {
  width: 30%;
  height: 260px;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
@media (max-width: 1140px) {
  .categories-item {
    width: 29.6%;
    height: 195px;
  }
}
@media (max-width: 768px) {
  .categories-item {
    height: 167px;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .categories-item {
    width: 100%;
    height: 247px;
  }
}

.categories-item-women {
  background-image: url(../img/for-women.png);
}

.categories-item-men {
  background-image: url(../img/for-men.png);
}

.categories-item-kids {
  background-image: url(../img/for-kids.png);
}

.categories-item-acc {
  width: 100%;
  height: 180px;
  background-image: url(../img/acc.png);
}
@media (max-width: 768px) {
  .categories-item-acc {
    width: 100%;
    height: 116px;
  }
}
@media (max-width: 450px) {
  .categories-item-acc {
    align-items: baseline;
  }
}

.categories-title {
  position: absolute;
  z-index: 4;
}
.categories-title-white {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.categories-title-pink {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

@media (max-width: 450px) {
  .categories-title-acc {
    margin-top: 10px;
  }
}

.video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.video:hover {
  z-index: 10;
}

.products-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.products-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 576px) {
  .products-text {
    margin-bottom: 65px;
  }
}

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 768px) {
  .products-list {
    gap: 16px;
  }
}
@media (max-width: 576px) {
  .products-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.products-card {
  width: 30%;
  list-style-type: none;
  background-color: #F8F8F8;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .products-card {
    width: 48%;
  }
}
@media (max-width: 576px) {
  .products-card {
    width: 360px;
  }
}

.product-pic-wrap {
  margin-bottom: 25px;
  position: relative;
}

.products-card-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
  transform-origin: left bottom;
}

.products-card:hover .products-card-overlay {
  opacity: 1;
  transform: scale(1);
}

.overlay-button {
  width: 139px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
  transition: 0.3s;
}
.overlay-button-icon {
  margin-right: 11px;
}

.overlay-button:hover {
  background-color: #FFFFFF;
  color: #222222;
  fill: #222222;
}

.products-pic {
  width: 100%;
}

.product-text-wrap {
  padding-right: 29px;
  padding-bottom: 20px;
}

.products-card-link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-left: 18px;
  text-decoration: none;
}

.products-card-decription {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-left: 18px;
  margin-top: 13px;
  margin-bottom: 18px;
}

.products-card-price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
}

.products-link {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 109px;
}
@media (max-width: 768px) {
  .products-link {
    margin-top: 32px;
    margin-bottom: 64px;
  }
}
@media (max-width: 576px) {
  .products-link {
    margin-top: 40px;
    margin-bottom: 96px;
  }
}

.products-btn {
  text-align: center;
  text-decoration: none;
  padding: 15px 39px;
  border: 1px solid #F26376;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  transition: 0.3s;
}
.products-btn:hover {
  background-color: #F26376;
  color: #FFFFFF;
}

.advantages {
  background-color: #222224;
}

.advantages-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 104px;
}
@media (max-width: 768px) {
  .advantages-wrap {
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 64px;
    justify-content: center;
    align-items: center;
  }
}

.advantages-card {
  margin-right: 30px;
}
@media (max-width: 768px) {
  .advantages-card {
    margin-right: 0;
    margin-bottom: 48px;
    text-align: center;
  }
}

.advantages-card-delivery {
  background-image: url(../img/adv-del.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.advantages-title {
  margin-top: 60px;
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
@media (max-width: 768px) {
  .advantages-text {
    width: 360px;
  }
}

.advantages-card-sales {
  background-image: url(../img/adv-sale.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.advantages-card-quality {
  background-image: url(../img/adv-quality.png);
  background-repeat: no-repeat;
  background-position: center top;
}

@media (max-width: 768px) {
  .advantages-mobile {
    display: none;
  }
}

.reviews {
  background-image: url(../img/bgi-reviews.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 448px;
}
@media (max-width: 768px) {
  .reviews {
    height: 688px;
    background-position-x: -392px;
  }
}
@media (max-width: 576px) {
  .reviews {
    height: 609px;
    background-position-x: -522px;
  }
}

.reviews-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .reviews-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
  }
}

.reviews-user {
  width: 359px;
  margin-top: 97px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 768px) {
  .reviews-user {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .reviews-user {
    width: 343px;
    margin-bottom: 59px;
  }
}

.reviews-user__logo {
  margin-bottom: 30px;
}

.reviews-user__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.reviews-subscribe {
  margin-right: 97px;
}
@media (max-width: 768px) {
  .reviews-subscribe {
    margin-right: 0;
  }
}

.reviews-subscribe__title {
  margin-top: 150px;
  margin-bottom: 32px;
  text-align: center;
  color: #222224;
  line-height: 167.2%;
}
@media (max-width: 768px) {
  .reviews-subscribe__title {
    margin-top: 48px;
  }
}

.reviews-sibscribe__title-big {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.subscribe__title-small {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.subscribe {
  display: flex;
  justify-content: center;
}

.subscribe-field {
  padding: 15px 64px 15px 22px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #E1E1E1;
}

.subscribe-btn {
  padding: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  background-color: #F16D7F;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.3s;
}
.subscribe-btn:hover {
  background-color: #E05C6E;
}

.footer {
  background-color: #222224;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FBFBFB;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 576px) {
  .footer-wrap {
    flex-direction: column-reverse;
    padding-top: 43px;
  }
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.social {
  display: flex;
}
@media (max-width: 576px) {
  .social {
    margin-bottom: 40px;
  }
}

.social-link {
  display: inline-block;
  margin-right: 7px;
  text-decoration: none;
  color: #222222;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.social-link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  transform: rotate(360deg);
}

.arrivals {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 51px;
}
@media (max-width: 576px) {
  .arrivals {
    padding-top: 24px;
    padding-bottom: 46px;
  }
}

.arrivals-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .arrivals-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.arrivals-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
@media (max-width: 576px) {
  .arrivals-title {
    margin-bottom: 32px;
  }
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
}

.breadcrumb-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb-span {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.breadcrumbs li::before {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumbs li:first-child:before {
  content: "";
}

.filter-wrap {
  display: flex;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .filter-wrap {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .filter-wrap {
    padding: 0 5px;
  }
}

.filter {
  position: relative;
  z-index: 20;
}
.filter-title {
  display: block;
}
.filter-icon {
  margin-left: 11px;
}
@media (max-width: 576px) {
  .filter-icon {
    width: 38px;
    height: 25px;
  }
}

@media (max-width: 576px) {
  .filter-title-span {
    display: none;
  }
}

.filter[open] .filter-title {
  color: #EF5B70;
  fill: #EF5B70;
}

.filter-menu-wrap {
  background-color: #fff;
  position: absolute;
  z-index: -1;
  max-height: 531px;
  width: 360px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  top: -21px;
}

.filter-menu {
  padding-left: 16px;
  background-color: #fff;
  margin-top: 46px;
  padding-bottom: 16px;
}

.filter-category-drop {
  padding-top: 16px;
  padding-right: 15px;
}
.filter-category-title {
  display: block;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.filter-category-wrap {
  padding-top: 24px;
}
.filter-category-list {
  list-style-type: none;
  margin-bottom: 11px;
}
.filter-category-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter-category-link:hover {
  color: #222222;
}

.sorting {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .sorting {
    margin-left: 0;
  }
}
.sorting-wrap {
  display: flex;
  padding-bottom: 64px;
  margin: auto;
}

@media (max-width: 768px) {
  .sorting-wrap {
    margin: 0;
    padding-bottom: 40px;
  }
}

.size-title {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 28px;
  position: relative;
}
.size-checkbox {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

@media (max-width: 576px) {
  .size-title {
    font-size: 12px;
    line-height: 14px;
    margin-right: 9px;
  }
}

.size-title-price {
  margin-right: 0;
}

.size-form-wrap {
  background-color: #fff;
  position: absolute;
  z-index: 10;
  width: 79px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  padding: 7px 30px 11px 9px;
}

.fa-chevron-down {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .products-card-catalog:nth-child(3) {
    display: none;
  }
}

.products-pages-navigation {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 96px;
}
@media (max-width: 768px) {
  .products-pages-navigation {
    margin-top: 40px;
    margin-bottom: 63px;
  }
}

.products-pages {
  display: flex;
  justify-content: space-around;
  width: 284px;
  border: 1px solid #EBEBEB;
  padding: 15px 16px;
}

.pages {
  background: none;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
}
.pages:hover {
  color: #EF5B70;
  transform: scale(1.5);
}

.ellipsis {
  color: #EBEBEB;
  align-self: flex-end;
}

.arrivals-product {
  margin-bottom: 0;
}

.slider {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  align-items: center;
  position: relative;
  padding-bottom: 64px;
  max-height: 777px;
}
@media (max-width: 768px) {
  .slider {
    max-height: 624px;
    padding: 30px 0;
  }
}
@media (max-width: 576px) {
  .slider {
    max-height: 454px;
    padding: 85px 0;
  }
}
.slider-img {
  height: 100%;
}
@media (max-width: 768px) {
  .slider-img {
    height: 565px;
  }
}
@media (max-width: 576px) {
  .slider-img {
    height: 454px;
  }
}

.slider-btn {
  background-color: #EAEAEA;
  position: absolute;
  fill: #222222;
  border: none;
  padding: 13px 18px;
}
.slider-btn-left {
  left: 0;
}
.slider-btn-rigth {
  right: 0;
}
.slider-btn :hover {
  fill: #F16D7F;
}
.slider-btn :active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-btn:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card-container {
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 128px;
  margin-top: -64px;
  background-color: #FFFFFF;
  position: relative;
}
@media (max-width: 768px) {
  .product-card-container {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .product-card-container {
    margin-top: 0;
    margin-bottom: 64px;
  }
}
.product-card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 65px;
  text-align: center;
}
.product-card-title-pink {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.product-card-title-pink::after {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  display: block;
  margin: 12px auto;
}
.product-card-title-grey {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
@media (max-width: 576px) {
  .product-card-title-grey {
    margin-bottom: 32px;
  }
}
.product-card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .product-card-text {
    width: 360px;
  }
}
.product-card-price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}
.product-card-price::after {
  content: "";
  width: 642px;
  height: 1px;
  background-color: #EAEAEA;
  display: block;
  margin: 64px auto;
}
@media (max-width: 768px) {
  .product-card-price::after {
    width: 594px;
  }
}
@media (max-width: 640px) {
  .product-card-price::after {
    width: 484px;
  }
}
@media (max-width: 576px) {
  .product-card-price::after {
    width: 175px;
    margin: 32px auto 49px;
  }
}

.choosing-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
@media (max-width: 576px) {
  .choosing-wrap {
    margin-bottom: 64px;
  }
}
.choosing-drop {
  margin-right: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
@media (max-width: 576px) {
  .choosing-drop {
    font-size: 10px;
    line-height: 12px;
  }
}

.color-title {
  display: block;
  position: relative;
}
.color-form-wrap {
  position: absolute;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}

.product-card-button {
  width: 139px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: transparent;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
  fill: #F16D7F;
  transition: 0.3s;
}
.product-card-button-icon {
  margin-right: 11px;
}

.product-card-button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  fill: #FFFFFF;
}

.products-page {
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .product-card-slider:nth-child(3) {
    display: none;
  }
}
@media (max-width: 576px) {
  .product-card-slider:nth-child(3) {
    display: block;
  }
}

@media (max-width: 576px) {
  .product-card-slider:nth-child(2) {
    display: none;
  }
}

@media (max-width: 768px) {
  .products-list-slider {
    flex-direction: row-reverse;
  }
}

.shopping {
  background-color: #F8F3F4;
}
.shopping-wrap {
  padding: 60px 0;
}
.shopping-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
@media (max-width: 680px) {
  .shopping-title {
    text-align: center;
  }
}

.container-cart {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 128px;
}
@media (max-width: 920px) {
  .container-cart {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 920px) {
  .cart-product-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.cart-product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 652px;
  height: 306px;
  padding-right: 185px;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1140px) {
  .cart-product {
    width: 580px;
  }
}
@media (max-width: 960px) {
  .cart-product {
    width: 560px;
  }
}
@media (max-width: 920px) {
  .cart-product {
    width: 80%;
  }
}
@media (max-width: 676px) {
  .cart-product {
    width: 90%;
    height: 238px;
  }
}
@media (max-width: 500px) {
  .cart-product {
    height: 200px;
    width: 100%;
    margin-bottom: 32px;
  }
}
.cart-product:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.cart-product-img {
  width: 100%;
  margin-right: 31px;
}
@media (max-width: 960px) {
  .cart-product-img {
    width: 90%;
  }
}
@media (max-width: 676px) {
  .cart-product-img {
    height: 238px;
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .cart-product-img {
    height: 200px;
  }
}
.cart-product-btn {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  background-color: transparent;
}
.cart-product-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
  margin-top: 22px;
}
@media (max-width: 768px) {
  .cart-product-title {
    font-size: 16px;
    line-height: 19px;
  }
}
.cart-product-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}
@media (max-width: 768px) {
  .cart-product-text {
    font-size: 14px;
    line-height: 17px;
  }
}
.cart-product-text-pink {
  color: #F16D7F;
}
.cart-product-input {
  width: 44px;
  margin-left: 24px;
  padding-left: 16px;
}

@media (max-width: 540px) {
  .cart-product-mobile {
    margin-bottom: 0;
  }
}

.cart-product-img-wrap {
  margin-right: 31px;
}
@media (max-width: 930px) {
  .cart-product-img-wrap {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cart-product-buttons-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 920px) {
  .cart-product-buttons-wrap {
    display: block;
  }
}
@media (max-width: 540px) {
  .cart-product-buttons-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.cart-product-buttons {
  padding: 17px 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  margin-top: 32px;
}
@media (max-width: 920px) {
  .cart-product-buttons {
    margin-bottom: 64px;
  }
}
@media (max-width: 680px) {
  .cart-product-buttons {
    margin-bottom: 48px;
  }
}
@media (max-width: 540px) {
  .cart-product-buttons {
    font-size: 11px;
    line-height: 14px;
    padding: 9px 18px;
    margin-top: 30px;
  }
}
.cart-product-buttons:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cart-product-buttons__link {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 920px) {
  .cart-button {
    margin-right: 38px;
  }
}

.cart-delivery {
  padding-top: 17px;
}
@media (max-width: 920px) {
  .cart-delivery {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 680px) {
  .cart-delivery {
    flex-direction: column;
    align-items: center;
  }
}
.cart-delivery-form {
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 680px) {
  .cart-delivery-form {
    margin-bottom: 48px;
  }
}
.cart-delivery-form-title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.cart-delivery-form-input {
  max-width: 360px;
  margin-bottom: 20px;
  padding: 14px 17px;
}
@media (max-width: 1140px) {
  .cart-delivery-form-input {
    max-width: 280px;
  }
}
@media (max-width: 920px) {
  .cart-delivery-form-input {
    width: 360px;
  }
}
@media (max-width: 680px) {
  .cart-delivery-form-input {
    max-width: 500px;
  }
}
.cart-delivery-form-button {
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 11px 15px;
  background-color: transparent;
  align-self: flex-start;
}
.cart-delivery-form-button:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cart-delivery-amount {
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 39px 43px 42px 44px;
  max-width: 360px;
}
@media (max-width: 1140px) {
  .cart-delivery-amount {
    padding: 39px 33px 42px 34px;
  }
}
@media (max-width: 960px) {
  .cart-delivery-amount {
    padding: 9px 23px 23px 24px;
  }
}
@media (max-width: 920px) {
  .cart-delivery-amount {
    width: 360px;
    height: 214px;
    margin-top: 32px;
  }
}
.cart-delivery-amount-title {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}
.cart-delivery-amount-title__sub {
  margin-right: 20px;
}
.cart-delivery-amount-title__total {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.cart-delivery-amount-title__total-price {
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.cart-delivery-amount-btn {
  background-color: #F16D7F;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 42px;
  border: none;
}
.cart-delivery-amount-btn:hover {
  border: 1px solid #F16D7F;
  background-color: #FFFFFF;
  color: #F16D7F;
}

.grand-title::after {
  content: "";
  width: 275px;
  height: 1px;
  background-color: #E2E2E2;
  display: block;
  margin: 21px auto 17px;
}
@media (max-width: 1140px) {
  .grand-title::after {
    width: 175px;
  }
}

.reg {
  background-color: #F8F3F4;
}
@media (max-width: 750px) {
  .reg {
    text-align: center;
  }
}
.reg-wrap {
  padding: 60px 0;
}
.reg-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.registration-container {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 725px) {
  .registration-container {
    flex-direction: column;
    align-items: center;
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
}
.registration-form-btn {
  width: 167px;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 20px;
  border: 1px solid #F16D7F;
}
.registration-form-btn:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.fa-arrow-right {
  margin-left: 20px;
}

.registration-name {
  margin-bottom: 33px;
}
.registration-name__radio {
  display: inline-block;
  margin-right: 20px;
}

.registration-title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration-input {
  width: 360px;
  padding: 14px 17px;
  margin-bottom: 20px;
}
@media (max-width: 725px) {
  .registration-input {
    width: 100%;
  }
}

@media (max-width: 725px) {
  .registration-login {
    margin-bottom: 40px;
  }
}
.registration-login-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
  margin-bottom: 39px;
}

.registration-loyalty-title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}
.registration-loyalty-text {
  max-width: 652px;
  padding-bottom: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.registration-loyalty-text__perk {
  margin-bottom: 16px;
}

.fa-check {
  margin-right: 23px;
}/*# sourceMappingURL=style.css.map */