@import "_var.scss";

@import "_mixins.scss";

@import "_main.scss";

@import "blocks/index/header";

@import "blocks/index/intro.scss";

@import "blocks/index/categories.scss";

@import "blocks/index/products.scss";

@import "blocks/index/advantages.scss";

@import "blocks/index/reviews.scss";

@import "blocks/index/footer.scss";

// CATALOG

@import "blocks/catalog/_arrivals.scss";

@import "blocks/catalog/filter.scss";

@import "blocks/catalog/sorting.scss";

@import "blocks/catalog/pagintaion.scss";

//product page

@import "blocks/product/arrivals.scss";

@import "blocks/product/slider.scss";

@import "blocks/product/product.scss";

    // cart page

@import "blocks/cart/shopping.scss";

@import "blocks/cart/cart_product.scss";

    // registration page

@import "blocks/registration/reg.scss";

@import "blocks/registration/registration.scss";





   