/* vars */

@import "_vars.scss";

/* mixins */

@import "_mixins.scss";


// main

@import "_main.scss";

// main page

@import "blocks/_header.scss";

@import "blocks/_intro.scss";

@import "blocks/_categories.scss";

@import "blocks/_products.scss";

@import "blocks/_advantages.scss";

@import "blocks/_reviews.scss";

@import "blocks/_footer.scss";

// CATALOG

@import "blocks/_arrivals.scss";

@import "blocks/_filter.scss";

@import "blocks/_product-pages.scss";

//product page

@import "blocks/_slider.scss";

@import "blocks/_product-card.scss";

    // cart page

@import "blocks/_cart.scss";

    // registration page

@import "blocks/_registration.scss";





   