.advantages {
    background-color: #222224;
}

.advantages-wrap {
    @include dfjcsb();
    padding-top: 104px;
    padding-bottom: 104px;

    @media (max-width: 768px) {
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
        justify-content: center;
        align-items: center;
    }
}

.advantages-card {
    margin-right: 30px;

    @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 48px;
        text-align: center;
    }
}

.advantages-card-delivery {
    background-image: url(../img/adv-del.svg);
    background-repeat: no-repeat;
    background-position: center top;
    
}

.advantages-title {
    margin-top: 60px;
    margin-bottom: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.advantages-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;

    @media (max-width: 768px) {
        width: 360px;
    }
}

.advantages-card-sales {
    background-image: url(../img/adv-sale.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.advantages-card-quality {
    background-image: url(../img/adv-quality.png);
    background-repeat: no-repeat;
    background-position: center top;
}