.arrivals {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 51px;

    @media (max-width: 576px) {
        padding-top: 24px;
        padding-bottom: 46px;
    }
}

.arrivals-wrap {
    @include dfjcsb();

    @media (max-width: 576px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.arrivals-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $pink;

    @media (max-width: 576px) {
        margin-bottom: 32px;
    }
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
}

.breadcrumb-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumb-span {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $pink;
}

.breadcrumbs li::before {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumbs li:first-child:before {
    content: "";
}