.shopping {
    background-color: #F8F3F4;

    &-wrap {
        padding: 60px 0;
    }

    &-title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $pink;

        @media (max-width: 680px) {
            text-align: center;
        }
    }
}

.container-cart {
    @include dfjcsb();
    padding-top: 96px;  
    padding-bottom: 128px;

    @media (max-width: 920px) {
        flex-direction: column;
        justify-content: center;
    }
}

.cart-product-wrap {
    // margin-right: 128px;
    @media (max-width: 920px) {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

.cart-product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 652px;
    height: 306px;
    padding-right: 185px;
    position: relative;
    margin-bottom: 40px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

        @media (max-width: 1140px) {
            width: 580px;
        }

        @media (max-width: 960px) {
            width: 560px;
        }

        @media (max-width: 920px) {
            width: 80%;
        }

        @media (max-width: 676px) {
            width: 90%;
            height: 238px;
        }

        @media (max-width: 500px) {
            height: 200px;
            width: 100%;
            margin-bottom: 32px;
        }

        &:hover {
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.50));
        }

    &-img {
        width: 100%;
        margin-right: 31px;

        @media (max-width: 960px) {
            width: 90%;
        }

        @media (max-width: 676px) {
            height: 238px;
            margin-right: 0;
            width: 100%;
        }

        @media (max-width: 500px) {
            height: 200px;
        }
    }

    &-btn {
        position: absolute;
        top: 28px;
        right: 22px;
        border: none;
        background-color: transparent;
    }

    &-title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $dark;
        margin-bottom: 42px;
        margin-top: 22px;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &-text {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 6px;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 17px;
        }

        &-pink {
            color: $pink;
        }
    }

    &-input {
        width: 44px;
        margin-left: 24px;
        padding-left: 16px;
    }
}

.cart-product-mobile {
    @media (max-width: 540px) {
        margin-bottom: 0;
    }
}

.cart-product-img-wrap {
    margin-right: 31px;

    @media (max-width: 930px) {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cart-product-buttons-wrap {
    @include dfjcsb();

    @media (max-width: 920px) {
        display: block;
    }

    @media (max-width: 540px) {
        @include dfjcsb();
    }
}

.cart-product-buttons {
    padding: 17px 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #A4A4A4;
    margin-top: 32px;

    @media (max-width: 920px) {
        margin-bottom: 64px;
    }

    @media (max-width: 680px) {
        margin-bottom: 48px;
    }

    @media (max-width: 540px) {
        font-size: 11px;
        line-height: 14px;
        padding: 9px 18px;
        margin-top: 30px;
    }

    &:hover {
        box-shadow: (4px 4px 4px 4px rgba(0, 0, 0, 0.25));
    }

    &__link {
        text-decoration: none;
        color: #000000;
    }
}

.cart-button {
    @media (max-width: 920px) {
        margin-right: 38px;
    }
}

.cart-delivery {
    padding-top: 17px;

    @media (max-width: 920px) {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 680px) {
        flex-direction: column;
        align-items: center;
    }

    &-form {
        margin-bottom: 57px;
        display: flex;
        flex-direction: column;

        @media (max-width: 680px) {
            margin-bottom: 48px;
        }

        &-title {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $dark;
            margin-bottom: 20px;
        }

        &-input {
            max-width: 360px;
            margin-bottom: 20px;
            padding: 14px 17px;

            @media (max-width: 1140px) {
                max-width: 280px;
            }

            @media (max-width: 920px) {
                width: 360px;
            }

            @media (max-width: 680px) {
                max-width: 500px;
            }
        }

        &-button {
            border: 1px solid #A4A4A4;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            padding: 11px 15px;
            background-color: transparent;
            align-self: flex-start;

            &:hover {
                box-shadow: (4px 4px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }

    &-amount {
        background-color: #F5F3F3;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 39px 43px 42px 44px;
        max-width: 360px;

        @media (max-width: 1140px) {
            padding: 39px 33px 42px 34px;
        }

        @media (max-width: 960px) {
            padding: 9px 23px 23px 24px;
        }

        @media (max-width: 920px) {
            width: 360px;
            height: 214px;
            margin-top: 32px;
        }

        &-title {
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            margin-bottom: 12px;

        &__sub {
            margin-right: 20px;
        }

        &__total {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: $dark;
            &-price {
                margin-left: 20px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: $pink;
            }
        }
        }

        &-btn {
            background-color: $pink;
            color: $white;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            padding: 15px 42px;
            border: none;

            &:hover {
                border: 1px solid $pink;
                background-color: $white;
                color: $pink;
            }
        }
    }
}

.grand-title {

    &::after {
        content: "";
        width: 275px;
        height: 1px;
        background-color: #E2E2E2;
        display: block;
        margin: 21px auto 17px;

        @media (max-width: 1140px) {
            width: 175px;
        }
    }
}