.categories-wrap {
    @include dfjcsb();
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;

    @media (max-width: 768px) {
        gap: 15px;
        margin-bottom: 154px;
    }

    @media (max-width: 576px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-bottom: 64px;
    }
}

.categories-item {
    width: 30%;
    height: 260px;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    @include dfjcc();
    align-items: center;
    text-align: center;
    position: relative;

    @media (max-width: 1140px) {
        width: 29.6%;
        height: 195px;
    }

    @media (max-width: 768px) {
        // width: 232px;
        height: 167px;
        margin-bottom: 0;
    }

    @media (max-width: 576px) {
        width: 100%;
        height: 247px;
    }
}

.categories-item-women {
    background-image: url(../img/for-women.png);
}

.categories-item-men {
    background-image: url(../img/for-men.png);
}

.categories-item-kids {
    background-image: url(../img/for-kids.png);
}

.categories-item-acc {
    width: 100%;
    height: 180px;
    background-image: url(../img/acc.png);

    @media (max-width: 768px) {
        width: 100%;
        height: 116px;
    }
}
.categories-title {
    position: absolute;
    z-index: 4;

    &-white {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $white;
    }

    &-pink {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $pink;
    }
}

.video {
    position: absolute;
    object-fit: cover;

    @media (max-width: 1140px) {
        width: 100%;
        height: 100%;
    }

    &:hover {
        z-index: 10;
    }

}
    