.categories-wrap {
    @include dfjcsb();
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;
}

.categories-item {
    width: 360px;
    height: 260px;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    @include dfjcc();
    align-items: center;
    text-align: center;
    position: relative;
}

.categories-item-women {
    background-image: url(../img/for-women.png);
}

.categories-item-men {
    background-image: url(../img/for-men.png);
}

.categories-item-kids {
    background-image: url(../img/for-kids.png);
}

.categories-item-acc {
    width: 100%;
    height: 180px;
    background-image: url(../img/acc.png);
}
.categories-title {
    position: absolute;
    z-index: 4;

    &-white {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $white;
    }

    &-pink {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $pink;
    }
}

.video {
    position: absolute;
    object-fit: cover;

    &:hover {
        z-index: 10;
    }
} 