
.filter-wrap {
    display: flex;
    padding: 0 30px;

    @media (max-width: 768px) {
        justify-content: space-between;
    }

    @media (max-width: 576px) {
        padding: 0 5px;
    }
}

.filter {
    position: relative;
    z-index: 20;

    &-title {
        display: block;
    }

    &-icon {
        margin-left: 11px;

        @media (max-width: 576px) {
            width: 38px;
            height: 25px;
        }
    }
}

.filter-title-span {
    @media (max-width: 576px) {
        display: none;
    }
}

.filter[open] .filter-title {
    color: #EF5B70;
    fill: #EF5B70;
}

.filter-menu-wrap {
    background-color: #fff;
    position: absolute;
    z-index: -1;
    max-height: 531px;
    width: 360px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    top: -21px;
}

.filter-menu {
    padding-left: 16px;
    background-color: #fff;
    margin-top: 46px;
    padding-bottom: 16px;
}

.filter-category {

    &-drop {
        padding-top: 16px;
        padding-right: 15px;
    }

    &-title {
        display: block;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        padding: 11px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }

    &-wrap {
        padding-top: 24px;
    }

    &-list {
        list-style-type: none;
        margin-bottom: 11px;
    }

    &-link {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $dark;
        }
    }
}

.sorting {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        margin-left: 0;
    }

    &-wrap {
        display: flex;
        padding-bottom: 64px;
        margin: auto;
    }
}

.sorting-wrap {
    @media (max-width: 768px) {
        margin: 0;
        padding-bottom: 40px;
    }
}

.size {
    &-title {
        display: block;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-right: 28px;
        position: relative;
    }

    &-checkbox {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    }
}

.size-title {
    @media (max-width: 576px) {
        font-size: 12px;
        line-height: 14px;
        margin-right: 9px;
    }
}

.size-title-price {
    margin-right: 0;
}

.size-form-wrap {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    width: 79px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    padding: 7px 30px 11px 9px;
}

.fa-chevron-down {
    margin-left: 10px;
}

.products-card-catalog {

    @media (max-width: 768px) {

        &:nth-child(3) {

            display: none;
        }
    }
}