.product-card {
    &-container {
        border: 1px solid #EAEAEA;
        @include dfjcc();
        align-items: center;
        flex-direction: column;
        margin-bottom: 128px;
        margin-top: - $shift;
        background-color: $white;
        position: relative;

        @media (max-width: 768px) {
            margin-top: 0;
        }

        @media (max-width: 576px) {
            margin-top: 0;
            margin-bottom: 64px;
        }
    }

    &-wrap {
        @include dfjcc();
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 65px;
        text-align: center;
    }
    
    &-title-pink {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $pink;
        margin-bottom: 12px;
    
        &::after {
            content: "";
            width: 63px;
            height: 3px;
            background-color: #EF5B70;
            display: block;
            margin: 12px auto;
        }
    }
    
    &-title-grey {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        margin-bottom: 48px;

        @media (max-width: 576px) {
            margin-bottom: 32px;
        }
    }
    
    &-text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5E5E5E;
        text-align: center;
        margin-bottom: 32px;

        @media (max-width: 576px) {
            width: 360px;
        }
    }
    
    &-price {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;

        &::after {
            content: "";
            width: 642px;
            height: 1px;
            background-color: #EAEAEA;
            display: block;
            margin: 64px auto;

            @media (max-width: 768px) {
                width: 594px;
            }

            @media (max-width: 640px) {
                width: 484px;
            }

            @media (max-width: 576px) {
                width: 175px;
                margin: 32px auto 49px;
            }
        }
    }    
    }

    .choosing {
        &-wrap {
            @include dfjcc();
            margin-bottom: 48px;

            @media (max-width: 576px) {
                margin-bottom: 64px;
            }
        }

        &-drop {
            margin-right: 23px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;

            @media (max-width: 576px) {
                font-size: 10px;
                line-height: 12px;   
            }
        }
    }

    .color {
        &-title {
            display: block;
            position: relative;
        }

        &-form-wrap {
            position: absolute;
            background-color: #fff;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 30px 11px 9px;
        }
    }

    .product-card-button {
        width: 139px;
        color: $pink;
        border: 1px solid $pink;
        background: transparent;
        padding: 11px;
        @include dfjcc();
        align-items: center;
        margin-bottom: 65px;
        fill: $pink;
        transition: 0.3s;
    
        &-icon {
            margin-right: 11px;
        }    
    }

    .product-card-button:hover {
        color: $white;
        background-color: $pink;
        fill: $white;
    }

    .products-page {
        margin-bottom: 64px;
    }

    .product-card-slider:nth-child(3) {

        @media (max-width: 768px) {
            display: none;
        } 
        @media (max-width: 576px) {
            display: block;
        }     
    }

    .product-card-slider:nth-child(2) {

        @media (max-width: 576px) {
            display: none;
        }    
    }

    .products-list-slider {
        @media (max-width: 768px) {
            flex-direction: row-reverse;
        }
    }