.products-pages-navigation {
    @include dfjcc();
    margin-top: 48px;
    margin-bottom: 96px;
}

.products-pages {
    display: flex;
    justify-content: space-around;
    width: 284px;
    border: 1px solid #EBEBEB;
    padding: 15px 16px;
}

.pages {
    background: none;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;

    &:hover {
        color: #EF5B70;
        transform: scale(1.5);
    }
}

.ellipsis {
    color: #EBEBEB;
    align-self: flex-end;
}