.reviews {
    background-image: url(../img/bgi-reviews.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 448px;

    @media (max-width: 768px) {
        height: 688px;
        background-position-x: -392px;
    }

    @media (max-width: 576px) {
        height: 609px;
        background-position-x: -522px;
    }
}

.reviews-wrap {
    @include dfjcsb();
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 64px;
    }
}

.reviews-user {
    width: 359px;
    margin-top: 97px;
    @include dfjcc();
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 768px) {
        margin-top: 0;
    }    

    @media (max-width: 576px) {
        width: 343px;
        margin-bottom: 59px;
    }
}

.reviews-user__logo {
    margin-bottom: 30px;
}

.reviews-user__text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.reviews-subscribe {
    margin-right: 97px;

    @media (max-width: 768px) {
        margin-right: 0;
    }
}

.reviews-subscribe__title {
    margin-top: 150px;
    margin-bottom: 32px;
    text-align: center;
    color: #222224;
    line-height: 167.2%;

    @media (max-width: 768px) {
        margin-top: 48px;
    }
}

.reviews-sibscribe__title-big {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.subscribe__title-small {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.subscribe {
    @include dfjcc();
}

.subscribe-field {
    padding: 15px 64px 15px 22px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #E1E1E1;
}

.subscribe-btn {
    padding: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    border: none;
    background-color: $pink;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.3s;

    &:hover {
        background-color: #E05C6E;
    }
}