.arrivals-product {
    margin-bottom: 0;
}

.slider {
    @include dfjcc();
    background-color: #F7F7F7;
    align-items: center;
    position: relative;
    padding-bottom: $shift;
    max-height: 777px;

        @media (max-width:768px) {
            // max-width: 466px;
            max-height: 624px;
            padding: 30px 0;
        }

        @media (max-width: 576px) {
            max-height: 454px;
            padding: 85px 0;
        }

    &-img {
        height: 100%;

        @media (max-width: 768px) {
            // margin-bottom: 29px;
            height: 565px;
        }

        @media (max-width: 576px) {
            height: 454px;
        }
    }
}

.slider-btn {
    background-color: #EAEAEA;
    position: absolute;
    fill: $dark;
    border: none;
    padding: 13px 18px;

    &-left {
        left: 0;
    }

    &-rigth {
        right: 0;
    }

    :hover {
        fill: $pink;
    }

    :active {
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.slider-btn:active {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}