.reg {
    background-color: #F8F3F4;

    &-wrap {
        padding: 60px 0;
    }

    &-title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $pink;
    }
}