.arrivals {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 51px;
}

.arrivals-wrap {
    @include dfjcsb();
}

.arrivals-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $pink;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
}

.breadcrumb-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumb-span {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $pink;
}

.breadcrumbs li::before {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumbs li:first-child:before {
    content: "";
}