.sorting {
    display: flex;
    align-items: center;
    margin-left: 30px;

    &-wrap {
        display: flex;
        padding-bottom: 64px;
    }
}

.size {
    &-title {
        display: block;
        // padding-bottom: 64px;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-right: 28px;
        position: relative;
    }

    &-checkbox {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    }
}

.size-form-wrap {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    width: 79px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    padding: 7px 30px 11px 9px;
}

.fa-chevron-down {
    margin-left: 10px;
}